<!DOCTYPE html >
<head>

<title>CTRL</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"><style type="text/css">
<!--
body {
	background-image: url();
	background-color: #33CCCC;
}
.Estilo1 {
	color: #000000;
	font-size: 16px;
}
.Estilo2 {color: #FFFFFF}
.Estilo3 {font-size: 16px}
-->
</style></head>

<body>
<section>
<div class="container-fluid" <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark"><div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
</nav>
</div>
</div>
</div>
</section>
<table width="1146" height="131" border="1">
  <tr>
    <td width="1136"><ul class="Estilo2">
      <li><span class="Estilo3"><a class="navbar-brand" href="#">CTRL</a>
      </span>      </li>
    </ul>      <div class="collapse navbar-collapse Estilo1" id="div">
                      <ul>
                        <li><a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> </li>
                        <li><a class="nav-link" href="#">Links</a> </li>
                        <li><a class="nav-link" href="#">Salir</a> </li>
                        <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Consultar </a>                                              </li>
                      </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Registro de Ganado</a> <a class="dropdown-item" href="#">Dieta de Ganado</a> <a class="dropdown-item" href="#">Ventas de Ganado</a> <a class="dropdown-item" href="#">Ganado Comprado</a> <a class="dropdown-item" href="#">Ganado Nacido</a> <a class="dropdown-item" href="#">Ganado Muerto</a> <a class="dropdown-item" href="#">Ganado Enfermo</a> </div>
          </li>
        </ul>
    </div></td>
  </tr>
</table>

           <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
